<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title size="large">Nuevo gasto</ion-title>
    </ion-buttons>

    
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nuevo gasto</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="credit-card-field">
    <label class="block text-base font-semibold text-black dark:text-white mb-2" for="nombre">Nombre</label>
    <div class="relative">
      <input [(ngModel)]="expense.name" class="w-full pl-8 pr-4 py-3 rounded-lg " id="nombre" placeholder="Nombre del gasto" type="text"/>
    </div>
  </div>

  <div class="credit-card-field">
    <label class="block text-base font-semibold text-black dark:text-white mb-2" for="monto">Monto</label>
    <div class="relative">
      <input [(ngModel)]="expense.total" class="w-full pl-8 pr-4 py-3 rounded-lg " id="monto" placeholder="Monto del gasto" type="number"/>
    </div>
  </div>

  <div class="credit-card-field">
    <label class="block text-base font-semibold text-black dark:text-white mb-2" for="cuotas">Cuotas</label>
    <div class="relative">
      <input [(ngModel)]="expense.cuotas" class="w-full pl-8 pr-4 py-3 rounded-lg " id="cuotas" placeholder="Número de cuotas" type="number"/>
    </div>
  </div>

  <div class="credit-card-field">
    <label class="block text-base font-semibold text-black dark:text-white mb-2" for="fecha">Fecha</label>
    <div class="relative">
      <input [(ngModel)]="expense.date" class="w-full pl-8 pr-4 py-3 rounded-lg " id="fecha" placeholder="Fecha del gasto" type="date"/>
    </div>
  </div>

    <footer class="p-4 pb-8">
      <button (click)="addExpense()" class="save-button w-full rounded-lg bg-primary text-white py-3 font-semibold hover:bg-primary/90 transition-colors">
        Guardar
    </button>
  </footer>

</ion-content>
