#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.button_add{
  
  position: fixed;
  bottom: 5%;   /* distancia desde abajo */
  right: 40px;
  z-index: 9999;
  background-color: #3880ff;
  width: 3.5rem;
  height: 3.5rem;
}